.titulo{
    text-align: center;

}

body{
    background-color: rgb(255, 239, 224);
}

    .secao {
      display: none;
    }
    .ativa {
      display: block;
    }

h1{
    text-align: center;
}

.menu-btn {
  transition: all 0.3s ease;
}

/* Efeito ao passar o mouse */
.menu-btn:hover {
  transform: scale(1.1); /* aumenta o botão */
  background-color: #0d6efd; /* azul do Bootstrap */
  color: white;
}

.menu-btn:active {
  transform: scale(0.95);
}


.output-box {
  width: 50%;
  margin: 20px auto;   /* centraliza horizontalmente */
  padding: 20px;
  background-color: #f8f9fa;
  border: 2px solid #dee2e6;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.imagem-container {
  text-align: center;
  margin-top: 20px;
}

.imagem-container img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}
